@tailwind base;
@tailwind components;
@tailwind utilities;

pre{
    background-color:#101827 !important;
}
body ::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}